{
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"importOrder": ["^components/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
